<div class="alert alert-block alert-info" style="background-color: #301E40; border: 0px; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
<br/><br/>
<h1 style="font-size: 45px; color: white; align: center;"><center>
<img src="https://raw.githubusercontent.com/HumbleData/beginners-data-workshop/master/media/humble-data-logo-white-transparent.png" width="250px" /><br/><br/>
Approfondiamo Pandas
</center></h1>
</div>

***Nota***: questo notebook contiene celle con ***una sola*** soluzione.
Ricorda che non esiste un'unica soluzione a un problema!

Riconoscerai queste celle in quanto iniziano con **\# %**.

Se desideri vedere la soluzione, dovrai rimuovere il carattere **\#**
(cosa che puoi fare utilizzando **Ctrl** e **?**) e quindi eseguire la
cella. Se desideri eseguire il codice della soluzione, dovrai eseguire
nuovamente la cella.

Per prima cosa, installiamo le librerie di cui abbiamo bisogno per
questo notebook. Esegui la cella qui sotto:

In [ ]:
import pyodide_js

# Install Matplotlib
await pyodide_js.loadPackage("matplotlib")

# Install pandas
await pyodide_js.loadPackage("pandas")

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Esercizio
</h2><br>
</div>

> 1.  Importa pandas (con la convenzione maggiormente utilizzata vista nel notebook 2).
> 2.  Importa datetime.
> 3.  Importa matplotlib (come mostrato nel notebook 3.1).

In [ ]:
# %run ../solutions/05_01.py

> **ESERCIZIO BONUS**: aggiungi il comando magico per mostrare il
> grafico in Jupyter.

SUGGERIMENTO: inizia col carattere '%'.

In questo notebook utilizzeremo i dati forniti dal [Governo del Regno
Unito](https://data.gov.uk/dataset/a59198d9-2e24-4816-be1b-c3a1efa02dda/better-training-for-safer-food).
I dati sono forniti ai sensi della [Open Government
License](http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/).

> Carica i dati dell'anno 2014 e assegnali a df_2014 (percorso: '../data/food_training/training_2014.csv')

In [ ]:
# %run ../solutions/05_02.py

> Dai un'occhiata alle prime righe di df_2014

In [ ]:
# %run ../solutions/05_03.py

Avrai notato che l'intestazione non è nel posto giusto.  
Se dai un'occhiata alla documentazione, vedrai che il parametro *header*
del metodo `read_csv` è impostato su *infer*. Di conseguenza, il
software supporrà che l'intestazione sia la prima riga, che ha l'indice
*0*.

> Carica i dati dell'anno 2014 utilizzando il parametro header e
> assegnali a df_2014 (che verrà sovrascritto)

In [ ]:
# %run ../solutions/05_04.py

> Dai un'occhiata alle prime righe di df_2014. Meglio, non è vero?

In [ ]:
# %run ../solutions/05_05.py

> Carica i dati degli anni 2015 e 2016 e assegnali a df_2015 e df_2016
> (non dimenticare il parametro!)

In [ ]:
# %run ../solutions/05_06.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Concatenazioni
</h2><br>
</div>

Pandas dispone di un'ottima documentazione sulle operazioni di [fusione
(merge), unione (join) e concatenazione
(concat)](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html).

> Sfruttando la documentazione, concatena i 3 dataframe in uno,
> denominato df.

In [ ]:
# %run ../solutions/05_07.py

> Controlla la forma di df

In [ ]:
# %run ../solutions/05_08.py

> Guarda gli indici di df usando l'attributo index.

In [ ]:
# %run ../solutions/05_09.py

Possiamo vedere che l'indice non va da 0 a 265 con un passo di 1...

> Cancella l'indice esistente e reimpostalo utilizzando il metodo
> ***reset_index***.  
> Controlla l'indice di df.

In [ ]:
# %run ../solutions/05_10.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Eliminazione di colonne
</h2><br>
</div>

> Mostra le informazioni relative alle colonne di df.

In [ ]:
# %run ../solutions/05_11.py

Possiamo vedere che le ultime due colonne sono completamente vuote,
quindi le elimineremo.

> Consulta la guida per il metodo drop (se preferisci puoi cercare la
> documentazione su internet).

In [ ]:
# %run ../solutions/05_12.py

Puoi vedere che il valore predefinito per *axis* è *0*. In questo caso,
il metodo esaminerà le righe (ovvero *asse 0*) del dataframe.  
Nel nostro caso, vogliamo eliminare le colonne (ossia *asse 1*).

> Elimina le ultime due colonne di df.  
> labels: fornisce un elenco con i nomi delle colonne  
> Non dimenticare l'asse!

In [ ]:
# %run ../solutions/05_13.py

In [ ]:
df.head()

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Dati testuali
</h2><br>
</div>

Per [lavorare con i dati
testuali](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html),
dovremo utilizzare l'attributo ***str*** (che sta per "stringa") per
accedere ai metodi (ad esempio df\['col'\].str.replace('-', ' ')).  
Dovremo utilizzare questo attributo in diversi casi, ma prima
controlliamo la colonna Location.

> Visualizza i valori univoci della colonna Location.

In [ ]:
# %run ../solutions/05_14.py

Puoi vedere che le città e i paesi sono separati da un punto e virgola
(anche se mancano alcuni valori). Divideremo la colonna ***Location***.

> Prova a dividere (in inglese "split") la colonna ***Location*** in
> base al punto e virgola.  
> Puoi dare un'occhiata al
> [link](https://pandas.pydata.org/pandas-docs/version/0.23.4/text.html)
> fornito in precedenza o alla
> [documentazione](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).

In [ ]:
# %run ../solutions/05_15.py

Ti verrà restituito un elenco con gli elementi che erano prima e dopo il
punto e virgola.

> Prova di nuovo a dividere la colonna ***Location***, ma espandi i
> risultati per visualizzarli in colonne diverse.

In [ ]:
# %run ../solutions/05_16.py

> Crea una colonna ***city*** e una ***country*** in df utilizzando
> questa suddivisione.

In [ ]:
# %run ../solutions/05_17.py

> Elimina la colonna ***Location***.

In [ ]:
# %run ../solutions/05_18.py

In [ ]:
df.head()

> Calcola il numero di valori univoci nella colonna ***country***.

In [ ]:
# %run ../solutions/05_19.py

> Controlla il conteggio di ciascun valore univoco nella colonna ***country***.

In [ ]:
# %run ../solutions/05_20.py

Possiamo vedere che alcuni paesi (ad esempio l'Italia) sembrano apparire
più volte con alcune variazioni.

> Usa il metodo strip per rimuovere i (potenziali) spazi extra
> all'inizio e alla fine delle città e dei paesi.

In [ ]:
# %run ../solutions/05_21.py

> Controlla di nuovo il numero di valori univoci nella colonna country

In [ ]:
# %run ../solutions/05_22.py

> Dai un'occhiata alle righe in cui ***country*** è il Portogallo (in
> inglese "Portugal").  
> Cosa noti riguardo la colonna ***city***?

In [ ]:
# %run ../solutions/05_23.py

> Trasforma la colonna ***city*** in minuscolo (non dimenticare di
> riassegnarla alla colonna **city**).

In [ ]:
# %run ../solutions/05_24.py

> Dai un'occhiata alle righe in cui ***city*** contiene ' ***/*** '.

In [ ]:
# %run ../solutions/05_25.py

Decidiamo di voler avere solo una città per ogni riga. Possiamo decidere
di mantenere solo la città prima della barra.

> Sostituisci la stringa con una barra (ad esempio ***/***), con la
> città che appare prima della barra nella colonna ***city***.  
> Dovrai utilizzare un'[espressione
> regolare](https://docs.python.org/3/howto/regex.html#repeating-things).  
> Puoi testare la tua espressione regolare [qui](https://regex101.com).

In [ ]:
# %run ../solutions/05_26.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Mappe
</h2><br>
</div>

In [ ]:
df['country'].value_counts()

Abbiamo visto che in alcuni paesi erano era riportato il loro codice
paese, mentre in altri vi era il loro nome. Allineiamoli tutti nello
stesso formato.  
Possiamo farlo mappando un dizionario su una colonna. Sostituirà quindi
la ***chiave*** con il corrispondente ***valore***.

> Completa il codice seguente per sostituire i codici dei paesi con il
> nome dei paesi.  
> Tieni presente che utilizziamo una maschera poiché vogliamo sostituire
> solo alcuni valori della serie.

In [ ]:
diz_codici = {'BG':'Bulgaria', 'CZ':'Czech Republic', 'IT':'Italy', 'GR':'Greece', 'SI':'Slovenia', 'UK':'United Kingdom'}

df.loc[country_in_codes, "country"] =

In [2]:
# %run ../solutions/05_27.py

In [ ]:
df['country'].value_counts(dropna=False)

Alcuni valori di città sono sconosciuti.

> Dai un'occhiata ai valori di ***country*** in cui ***city*** è
> ***unknown*** .

In [ ]:
# %run ../solutions/05_28.py

> Completa il codice seguente per sostituire il valore ***unknown***
> nella colonna ***city*** con la capitale della corrispondente
> ***country***.

In [ ]:
diz_capitali = {'Denmark':'copenhague', 'France':'paris', 'Italy':'rome', 'Spain':'madrid', 'United Kingdom':'london'}

df.loc[df['city'] == 'unknown', 'city'] = df.loc[df['city'] == 'unknown', 'country']

In [ ]:
# %run ../solutions/05_29.py

Mancano molti paesi, ma possiamo riempirli utilizzando le città.  
Possiamo creare un dizionario delle città e dei paesi corrispondenti
utilizzando le righe in cui ***country*** non è nullo.

In [ ]:
diz_città = df.loc[df['country'].notnull(), ['city', 'country']].set_index('city').to_dict()['country']

Ora controlliamo se tutte le città di cui abbiamo bisogno sono presenti
nel nostro dizionario.

> Sottraendo le chiavi del dizionario dall'insieme dei valori
> ***city***, scopri quali città si trovano nella colonna ***city*** ma
> non nelle ***chiavi*** del dizionario.

In [ ]:
# %run ../solutions/05_30.py

> Sapendo che Bristol si trova nel Regno Unito, Göteborg in Svezia, Graz
> in Austria, Lione in Francia, Murcia in Spagna e Parma in Italia,
> aggiungi qualche coppia chiave-valore al dizionario ***diz_città***.  
> Puoi aggiungere ciascuna coppia chiave-valore oppure
> [aggiornare](https://python-reference.readthedocs.io/en/latest/docs/dict/update.html)
> diz_città con un altro dizionario.

In [ ]:
# %run ../solutions/05_31.py

> Usa questo dizionario per inserire alcuni dei paesi mancanti.

In [ ]:
# %run ../solutions/05_32.py

> Ottieni il conteggio dei diversi valori della colonna ***country***
> mostrando anche i valori NaN.

In [ ]:
# %run ../solutions/05_33.py

Nota che ci sono solo 4 valori NaN. Corrispondono a dati sporchi che potremmo correggere "manualmente". Scrivi del codice qui sotto e provalo se ne hai voglia!'

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Applicazione
</h2><br>
</div>

> Scrivi una funzione che restituisca ***single*** se il valore passato
> è 1 e ***single*** altrimenti.

In [ ]:
# %run ../solutions/05_34.py

> Applica questa funzione alla colonna ***Attendees***.

In [ ]:
# %run ../solutions/05_35.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Unione
</h2><br>
</div>

> Carica i dati sulle lingue e assegnali alle lingue (percorso:
> '../data/food_training/languages.csv')

In [ ]:
# %run ../solutions/05_36.py

In [ ]:
languages.head()

> Unisci df e lingue per aggiungere le informazioni sulla lingua a df.  
> Puoi controllare la pagina su [fusione (merge), unione (join) e
> concatenazione
> (concat)](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
> o la
> [documentazione](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html)
> sul metodo merge.

In [ ]:
# %run ../solutions/05_37.py

> Elimina la colonna ***Country*** da df.

In [ ]:
# %run ../solutions/05_38.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Data e ora
</h2><br>
</div>

> Controlla il tipo di ***DateFrom***.

In [ ]:
# %run ../solutions/05_39.py

***DateFrom*** e ***DateTo*** sono oggetti.

> Converti queste due colonne nel formato ***datetime***.

In [ ]:
# %run ../solutions/05_40.py

Nota: avremmo potuto utilizzare il parametro *parse_dates* durante il
caricamento dei dati.  
Ora possiamo utilizzare queste colonne per filtrare o eseguire alcuni
calcoli.

> Estrai le righe in cui la formazione è iniziata dopo il primo febbraio 2017.

In [ ]:
# %run ../solutions/05_41.py

> Crea una colonna ***duration*** con la durata della formazione.

In [ ]:
# %run ../solutions/05_42.py

> Crea una colonna ***month*** che indichi in quale mese è iniziata la formazione.  
> Traccia un istogramma della colonna ***month***.

In [ ]:
# %run ../solutions/05_43.py

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Ordinamento dei valori
</h2><br>
</div>

> Ordina df in ordine alfabetico per ***cities***.

In [ ]:
# %run ../solutions/05_44.py

> Ordina df per ***duration*** in ordine crescente e per ***Attendees***
> in ordine decrescente.

In [ ]:
# %run ../solutions/05_45.py

Possiamo vedere che si sono verificati un paio di problemi con l'immissione dei dati delle date...

---

<div class="alert alert-block alert-warning" style="padding: 0px; padding-left: 20px; padding-top: 5px;"><h2 style="color: #301E40">
Raggruppamenti
</h2><br>
</div>

> Raggruppa (Group by) df per ***city***. Assegna i dati raggruppati a
> df_gr.

In [ ]:
# %run ../solutions/05_46.py

> Ottieni il numero medio di ***Attendees*** dai dati raggruppati.

In [ ]:
# %run ../solutions/05_47.py